In [1]:
import numpy as np
import pandas as pd

# Arithmetic Operators & Methods

                    Operation       Python Operator    Pandas Method
                    Addition             +              .add()
                    Subtraction          -              .sub(), .subtract()
                    Muliplication        *              .mul(), .multiply()
                    Division             /              .div(), .truediv(), .divide()
                    Floor Divison        //             .floordiv()
                    Modulo               %              .mod()
                    Exponential          **             .pow()

In [2]:
sales_data = [0, 5, 155, 0, 518]
sales = pd.Series(sales_data)

In [3]:
sales

0      0
1      5
2    155
3      0
4    518
dtype: int64

In [4]:
sales + 2

0      2
1      7
2    157
3      2
4    520
dtype: int64

In [5]:
sales.add(2)

0      2
1      7
2    157
3      2
4    520
dtype: int64

In [18]:
"$" + sales.astype('float').astype('string')

0      $0.0
1      $5.0
2    $155.0
3      $0.0
4    $518.0
dtype: string

# String Methods

In [19]:
sales = np.array([3.99, 5.99, 22.99, 7.99, 33.99])

In [21]:
price = pd.Series(sales)

In [22]:
price

0     3.99
1     5.99
2    22.99
3     7.99
4    33.99
dtype: float64

In [32]:
"$"+price.astype('float').astype('string')

0     $3.99
1     $5.99
2    $22.99
3     $7.99
4    $33.99
dtype: string

# Aggregation

In [45]:
sales = np.array([0.0, 5.0, 155.0, 22.5, 518.0])

In [46]:
sales

array([  0. ,   5. , 155. ,  22.5, 518. ])

In [47]:
sales_series = pd.Series(sales, index=['coffee', 'coffee', 'tea', 'coconut', 'sugar'])

In [48]:
sales_series

coffee       0.0
coffee       5.0
tea        155.0
coconut     22.5
sugar      518.0
dtype: float64

In [49]:
sales_series.sum()

700.5

In [50]:
sales_series.loc['coffee'].sum()

5.0

In [51]:
sales_series.quantile([0.25, 0.50, 0.75])

0.25      5.0
0.50     22.5
0.75    155.0
dtype: float64

In [53]:
items = np.array(['coffee', 'coffee', 'tea', 'coconut', 'sugar'])

In [55]:
items = pd.Series(items)

In [56]:
items

0     coffee
1     coffee
2        tea
3    coconut
4      sugar
dtype: object

In [59]:
items.value_counts()

coffee     2
sugar      1
coconut    1
tea        1
dtype: int64

In [60]:
items.value_counts(normalize=True)

coffee     0.4
sugar      0.2
coconut    0.2
tea        0.2
dtype: float64

In [62]:
items.nunique()

4

In [63]:
items.unique()

array(['coffee', 'tea', 'coconut', 'sugar'], dtype=object)