In [1]:
import numpy as np
import pandas as pd

# Filtering Series

  Filtering series by passing a logical test into the .loc[] accessor

In [3]:
sales = [0, 5, 155, 0, 518]

items = ['coffee', 'coffee', 'tea', 'coconut', 'sugar']

sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [5]:
sales_series.loc[sales_series > 0]

coffee      5
tea       155
sugar     518
Name: Sales, dtype: int64

In [7]:
x = (sales_series > 0) & (sales_series.index == 'coffee')
sales_series.loc[x]

coffee    5
Name: Sales, dtype: int64

In [15]:
y = (sales_series > 5) & (sales_series.index == 'sugar')
sales_series.loc[y]

sugar    518
Name: Sales, dtype: int64

In [16]:
sales_series == 5

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [17]:
sales_series.eq(5)

coffee     False
coffee      True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [18]:
sales_series.ne(5)

coffee      True
coffee     False
tea         True
coconut     True
sugar       True
Name: Sales, dtype: bool

In [19]:
sales_series.index.isin(['coffee', 'tea'])

array([ True,  True,  True, False, False])

In [20]:
sales_series.index.isin(['tea', 'coconut', 'sugar'])

array([False, False,  True,  True,  True])

In [22]:
~sales_series.index.isin(['tea', 'coconut', 'sugar'])

array([ True,  True, False, False, False])

# Sorting Series

We can sort Series by their values or their index

In [24]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [25]:
# .sort_values() method sort a series by its values in assending Order
sales_series.sort_values()

coffee       0
coconut      0
coffee       5
tea        155
sugar      518
Name: Sales, dtype: int64

In [26]:
# sort in descending order
sales_series.sort_values(ascending=False)

sugar      518
tea        155
coffee       5
coffee       0
coconut      0
Name: Sales, dtype: int64

In [27]:
sales_series

coffee       0
coffee       5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [28]:
# '.sort_index()' method is used to sort the index in assending order
sales_series.sort_index()

coconut      0
coffee       0
coffee       5
sugar      518
tea        155
Name: Sales, dtype: int64

In [29]:
#Descending order
sales_series.sort_index(ascending=False)

tea        155
sugar      518
coffee       0
coffee       5
coconut      0
Name: Sales, dtype: int64